GEMINI_API_KEY=<Google gemini api key here>
LLM_MODEL_NAME=<Gemini model name used for query prompt>
PINECONE_API_KEY=<Pinecone api key here>
PINECONE_INDEX_NAME=<Pinecone index name>
HF_API_KEY=<Huggingface api key here>
EMBED_MODEL_NAME=<Huggingface sentence transformer embedding model>
RAG_DATA_DIR=<directory to store uploaded data>
RAG_CHUNK_SIZE=<rag chunk size for data chunking>
RAG_CHUNK_OVERLAP=<rag chunk overlap size>
